.plantCount {
  width: 100%;
}

.form {
  font-weight: 700;
  width: 100%;
  text-align: center;
  font-size: 1vw;
  position: sticky;
  top: 0;
  height: 4vh;
  background: #b6ccf5;
  display: flex;
  align-items: center;
  width: 100vw;
  justify-content: center;
  column-gap: 1vw;
}

.formLeft {
  display: flex;
  font-size: 1.5vw;
  align-items: stretch;
}

.formLeft p {
  margin: 0;
}

.form input[type="text"] {
  font-size: 1.5vw;
  width: 3vw;
  font-weight: bold;
}

.form input[type="submit"] {
  font-size: 1.5vw;
  width: 7vw;
  font-weight: bold;
}

.tableDiv {
  display: block;
  overflow: auto;
  height: 100%;
  width: 100%;
  top: 0;
  z-index: 3;
  position: fixed;
}

.closeTable {
  position: absolute;
  right: 5vw;
  top: 10vh;
  z-index: 5;
  border: 1px solid black;
  background: aliceblue;
}

.tableInnerDiv {
  width: 90vw;
  height: 80vh;
  overflow: auto;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

table {
  border-spacing: 0;
  table-layout: auto;
  width: 100%;
}

thead {
  position: sticky;
  top: 0;
  background: #b6ccf5;
  z-index: 4;
}

thead tr {
  border-bottom: 1px solid #32b3b0;
}

.mainHeader {
  font-size: 2vw;
}

th {
  margin: 0;
  border-right: 1px solid #32b3b0;
  border-top: 1px solid #32b3b0;
  border-left: 1px solid #32b3b0;
  border-bottom: 1px solid #32b3b0;
}

td {
  border-right: 1px solid #32b3b0;
  border-bottom: 1px solid #32b3b0;
  border-left: 1px solid #32b3b0;
  text-align: center;
}

th.nonInterval {
  position: relative;
  /*  width: 12vw; */
  /* height: 8vh; */
  white-space: normal;
  background: #b6ccf5;
}

th.vertical {
  writing-mode: vertical-lr;
  white-space: nowrap;
  /*  width: 3vw; */
}

/* th.nonInterval.nonIntervalFirst {
  position: sticky;
  left: 0;
  z-index: 1;
}

th.nonInterval.nonIntervalSecond {
  position: sticky;
  left: 5vw;
  z-index: 1;
}

th.nonInterval.nonIntervalThird {
  position: sticky;
  left: 10vw;
  z-index: 1;
} */

th.withUnit div.columnFlex,
th.Ref_Level div.columnFlex {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-direction: column;
}

th div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

th span {
  flex: 1;
}

th.hide {
  display: none;
}

th.show {
  display: table-cell;
}

td.hide {
  display: none;
}

td.show {
  display: table-cell;
}

td.interval {
  font-size: 0;
  /*  min-width: 1vw; */
  border-right: none;
}

tr {
  background-color: white;
}

td.nonInterval {
  white-space: normal;
  height: 2vh;
}

td.nonInterval.Time_Slot {
  white-space: nowrap;
  height: 2vh;
  background-color: white;
}

td.nonInterval input[type="number"] {
  width: 5vw;
}

@media only screen and (min-width: 320px) and (orientation: portrait) {
  td.nonInterval input[type="number"] {
    width: 10vw;
  }

  th.vertical {
    writing-mode: vertical-lr;
    white-space: nowrap;
    padding: 5px;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 320px) and (orientation: landscape) {
  td.nonInterval input[type="number"] {
    width: 10vw;
  }
  th.vertical {
    writing-mode: horizontal-tb;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  td.nonInterval input[type="number"] {
    width: 10vw;
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  td.nonInterval input[type="number"] {
    width: 5vw;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  td.nonInterval input[type="number"] {
    width: 5vw;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  td.nonInterval input[type="number"] {
    width: 5vw;
  }
}
